#login-box{
  margin-top: 30px;
  }
.ul-group{
  }
.form-control{
  margin: 15px 0;
  }
.list-decor-head{
  font-weight: 900;
  margin-bottom: 15px;
  }
.list-decor, .list-decor-head {
  font-size: 20px;
  list-style: none ;
  display: flex;
  //justify-content: space-between;
  align-items: center;
  }
.span-start, .span-middle, .span-end{
  display: flex;
  flex-basis: 30%;
  justify-content: start;
  }
.spam-wrapper{
  display: inline-block;
  .fa {
    margin-right: 15px;
    }
  }
.fa{
  cursor: pointer;
  }
.span-start{
  
  }
.fa-user-plus{
  display: flex;
  justify-content: end;
  }
.img-responsive{
  width: 25px;
  height: auto;
  }